@font-face { // pokemon font downloaded from https://www.dafont.com/pokemon.font >>> Hollow
    font-family: 'Pokemon_Hollow';
    src: url('./assets/fonts/Pokemon_Hollow.ttf') format('truetype'),
}
@font-face { // pokemon font downloaded from https://www.dafont.com/pokemon.font >>> Solid
    font-family: 'Pokemon_Solid';
    src: url('./assets/fonts/Pokemon_Solid.ttf') format('truetype'),
}

/* Ref: 
    1) https://getcssscan.com/css-box-shadow-examples
    2) https://www.schemecolor.com/pokemon-colors.php
    3) https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scrollbars_styling
    4) https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
*/

$light-red: #FF0000;        // dark red
$dark-red: #CC0000;         // light red
$blue: #3B4CCA;             // light blue
$light-yellow: #FFDE00;     // dark yellow
$dark-yellow: #B3A125;      // light yellow
$gray: #f2f2f2;             // light gray
$matte-black: #333;         // dark gray
$pokeball-red: #ED5564;     // pokeball red

body, html {
    background-color: $gray;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
header {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $matte-black;
    width: 100vw;
    padding: 1.5rem;
    padding-top: 0;
    box-shadow: rgba(51, 51, 51, 0.4) 0px 5px, rgba(102, 102, 102, 0.3) 0px 10px, rgba(153, 153, 153, 0.2) 0px 15px, rgba(204, 204, 204, 0.1) 0px 20px, rgba(204, 204, 204, 0.05) 0px 25px;

    h1 {
        color: whitesmoke;
        font-family: 'Pokemon_Solid';
        font-size: 4rem;
        text-align: center;
        -webkit-text-stroke: 5px $blue;
        color: $light-yellow;
    }
    span {
        font-family: 'Pokemon_Solid';
        -webkit-text-stroke: 5px $matte-black;
        color: $pokeball-red;
        font-size: 5rem;
    }
    img {
        width: 80px;
        height: 80px;
        margin: 1rem;
    }
}
.pokemon-search-container {
    position: fixed;
    height: 100vh;
    width: 260px;
    overflow-y: scroll;
    // scrollbar-color: $blue $gray;
    // scrollbar-width: thin;
    background-color: $matte-black;
    box-shadow: rgba(51, 51, 51, 0.4) 5px 5px, rgba(102, 102, 102, 0.3) 10px 10px, rgba(153, 153, 153, 0.2) 15px 15px, rgba(204, 204, 204, 0.1) 20px 20px, rgba(204, 204, 204, 0.05) 25px 25px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    h1 {
        font-family: 'Pokemon_Hollow';
        font-size: 1.4rem;
        color: whitesmoke;
        margin: 1rem;
    }
}
.pokemon-search-container::-webkit-scrollbar {
    display: none;
}
// https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll

.pokemon-search-title {
    position: absolute;
    top: 80px;
    left: 5px;
    z-index: 1;
    font-family: 'Pokemon_Hollow';
    font-size: 1.4rem;
    color: whitesmoke;
    margin: 1rem;
}
ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    gap: 1rem;
    width: 100%;
    padding-top: 20px;

    button {
        background-color: $blue;
        cursor: pointer;
        font-family: 'Pokemon_Hollow';
        font-size: 1.5rem;
        width: 70%;
        border-radius: 10px;
        border: 2px solid $matte-black;


        li {
            color: $light-yellow;
            font-weight: bold;
        }
    }
}
.arrow-up {
    position: fixed;
    top: 145px;
    left: 215px;
    z-index: 1;
    font-size: 2rem;
    color: $pokeball-red;
}
.arrow-down {
    position: fixed;
    bottom: 20px;
    left: 215px;
    z-index: 1;
    font-size: 2rem;
    color: $pokeball-red;
}
.pokemon-scroll-title {
    position: fixed;
    top: 370px;
    left: 50px;
    z-index: 1;
    font-family: 'Pokemon_Hollow';
    font-size: 1.5rem;
    transform: rotate(90deg);
    color: $pokeball-red;
    font-weight: bold;
}

